doctype html
html
  head
    title= "Done constructing the master playlist!!"
    link(rel="stylesheet", href="/css/everything.css")
    script(src='/js/showOwner.js')
  body
    if error
      h1 There was an error: #{error}
    else
      h1= "Here are the songs:"
      table
        thead
          tr
            th Album Art
            th Song Name
            th Artist(s)
            th Whose is it?
        tbody
          each song in songList
            tr
              td
                img(src=song.image)
              td= song.name
              td= song.artists
              td(onclick='showOwner(this)')
                div Show
                span.hidden= song.owner
