doctype html
html
  head
    title= "Construct the master playlist!"
  body
    if error
      h1 There was an error: #{error}
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Georama')
    else
      h1= "Thank you for authenticating"
      p Refresh Token: #{refreshToken}
      p Access Token: #{accessToken}
      form(id="build" action='/construct')
        input(type="hidden", name="accessToken", value=accessToken)
        input(type="hidden", name="refreshToken", value=refreshToken)
        button(type='submit') Build the master playlist!
